.img-fluid{
  height:188px !important;
  padding: 0 !important;
}

.head_div{
  font-size: 25px;
  color: green !important;
}

.price_div{
  font-size: 20px;
  font-weight: 500;
  margin: 5px !important;
}
.btn-success{
  height: 30px;
  font-size: 12px !important;
  text-align: center !important;

}

.dis_div{
  margin: 5px !important;
}

.main_div{
  box-shadow: 5px 5px 20px 5px rgb(171, 168, 168);
}

/* .main_div:hover{
  box-shadow: 5px 5px 20px 5px rgb(120, 120, 120);
  transition: all 0.5s;
} */

.img_div{
  padding-left: 5px;
}

